In [1]:
import pandas as pd
import numpy as np

In [2]:
from sklearn.datasets import load_iris

In [3]:
df=load_iris()

In [4]:
type(df)

sklearn.utils._bunch.Bunch

In [5]:
df.keys()

dict_keys(['data', 'target', 'frame', 'target_names', 'DESCR', 'feature_names', 'filename', 'data_module'])

In [6]:
df['feature_names']

['sepal length (cm)',
 'sepal width (cm)',
 'petal length (cm)',
 'petal width (cm)']

In [7]:
df['target_names']

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

In [8]:
df['data']

array([[5.1, 3.5, 1.4, 0.2],
       [4.9, 3. , 1.4, 0.2],
       [4.7, 3.2, 1.3, 0.2],
       [4.6, 3.1, 1.5, 0.2],
       [5. , 3.6, 1.4, 0.2],
       [5.4, 3.9, 1.7, 0.4],
       [4.6, 3.4, 1.4, 0.3],
       [5. , 3.4, 1.5, 0.2],
       [4.4, 2.9, 1.4, 0.2],
       [4.9, 3.1, 1.5, 0.1],
       [5.4, 3.7, 1.5, 0.2],
       [4.8, 3.4, 1.6, 0.2],
       [4.8, 3. , 1.4, 0.1],
       [4.3, 3. , 1.1, 0.1],
       [5.8, 4. , 1.2, 0.2],
       [5.7, 4.4, 1.5, 0.4],
       [5.4, 3.9, 1.3, 0.4],
       [5.1, 3.5, 1.4, 0.3],
       [5.7, 3.8, 1.7, 0.3],
       [5.1, 3.8, 1.5, 0.3],
       [5.4, 3.4, 1.7, 0.2],
       [5.1, 3.7, 1.5, 0.4],
       [4.6, 3.6, 1. , 0.2],
       [5.1, 3.3, 1.7, 0.5],
       [4.8, 3.4, 1.9, 0.2],
       [5. , 3. , 1.6, 0.2],
       [5. , 3.4, 1.6, 0.4],
       [5.2, 3.5, 1.5, 0.2],
       [5.2, 3.4, 1.4, 0.2],
       [4.7, 3.2, 1.6, 0.2],
       [4.8, 3.1, 1.6, 0.2],
       [5.4, 3.4, 1.5, 0.4],
       [5.2, 4.1, 1.5, 0.1],
       [5.5, 4.2, 1.4, 0.2],
       [4.9, 3.1, 1.5, 0.2],
       [5. , 3.2, 1.2, 0.2],
       [5.5, 3.5, 1.3, 0.2],
       [4.9, 3.6, 1.4, 0.1],
       [4.4, 3. , 1.3, 0.2],
       [5.1, 3.4, 1.5, 0.2],
       [5. , 3.5, 1.3, 0.3],
       [4.5, 2.3, 1.3, 0.3],
       [4.4, 3.2, 1.3, 0.2],
       [5. , 3.5, 1.6, 0.6],
       [5.1, 3.8, 1.9, 0.4],
       [4.8, 3. , 1.4, 0.3],
       [5.1, 3.8, 1.6, 0.2],
       [4.6, 3.2, 1.4, 0.2],
       [5.3, 3.7, 1.5, 0.2],
       [5. , 3.3, 1.4, 0.2],
       [7. , 3.2, 4.7, 1.4],
       [6.4, 3.2, 4.5, 1.5],
       [6.9, 3.1, 4.9, 1.5],
       [5.5, 2.3, 4. , 1.3],
       [6.5, 2.8, 4.6, 1.5],
       [5.7, 2.8, 4.5, 1.3],
       [6.3, 3.3, 4.7, 1.6],
       [4.9, 2.4, 3.3, 1. ],
       [6.6, 2.9, 4.6, 1.3],
       [5.2, 2.7, 3.9, 1.4],
       [5. , 2. , 3.5, 1. ],
       [5.9, 3. , 4.2, 1.5],
       [6. , 2.2, 4. , 1. ],
       [6.1, 2.9, 4.7, 1.4],
       [5.6, 2.9, 3.6, 1.3],
       [6.7, 3.1, 4.4, 1.4],
       [5.6, 3. , 4.5, 1.5],
       [5.8, 2.7, 4.1, 1. ],
       [6.2, 2.2, 4.5, 1.5],
       [5.6, 2.5, 3.9, 1.1],
       [5.9, 3.2, 4.8, 1.8],
       [6.1, 2.8, 4. , 1.3],
       [6.3, 2.5, 4.9, 1.5],
       [6.1, 2.8, 4.7, 1.2],
       [6.4, 2.9, 4.3, 1.3],
       [6.6, 3. , 4.4, 1.4],
       [6.8, 2.8, 4.8, 1.4],
       [6.7, 3. , 5. , 1.7],
       [6. , 2.9, 4.5, 1.5],
       [5.7, 2.6, 3.5, 1. ],
       [5.5, 2.4, 3.8, 1.1],
       [5.5, 2.4, 3.7, 1. ],
       [5.8, 2.7, 3.9, 1.2],
       [6. , 2.7, 5.1, 1.6],
       [5.4, 3. , 4.5, 1.5],
       [6. , 3.4, 4.5, 1.6],
       [6.7, 3.1, 4.7, 1.5],
       [6.3, 2.3, 4.4, 1.3],
       [5.6, 3. , 4.1, 1.3],
       [5.5, 2.5, 4. , 1.3],
       [5.5, 2.6, 4.4, 1.2],
       [6.1, 3. , 4.6, 1.4],
       [5.8, 2.6, 4. , 1.2],
       [5. , 2.3, 3.3, 1. ],
       [5.6, 2.7, 4.2, 1.3],
       [5.7, 3. , 4.2, 1.2],
       [5.7, 2.9, 4.2, 1.3],
       [6.2, 2.9, 4.3, 1.3],
       [5.1, 2.5, 3. , 1.1],
       [5.7, 2.8, 4.1, 1.3],
       [6.3, 3.3, 6. , 2.5],
       [5.8, 2.7, 5.1, 1.9],
       [7.1, 3. , 5.9, 2.1],
       [6.3, 2.9, 5.6, 1.8],
       [6.5, 3. , 5.8, 2.2],
       [7.6, 3. , 6.6, 2.1],
       [4.9, 2.5, 4.5, 1.7],
       [7.3, 2.9, 6.3, 1.8],
       [6.7, 2.5, 5.8, 1.8],
       [7.2, 3.6, 6.1, 2.5],
       [6.5, 3.2, 5.1, 2. ],
       [6.4, 2.7, 5.3, 1.9],
       [6.8, 3. , 5.5, 2.1],
       [5.7, 2.5, 5. , 2. ],
       [5.8, 2.8, 5.1, 2.4],
       [6.4, 3.2, 5.3, 2.3],
       [6.5, 3. , 5.5, 1.8],
       [7.7, 3.8, 6.7, 2.2],
       [7.7, 2.6, 6.9, 2.3],
       [6. , 2.2, 5. , 1.5],
       [6.9, 3.2, 5.7, 2.3],
       [5.6, 2.8, 4.9, 2. ],
       [7.7, 2.8, 6.7, 2. ],
       [6.3, 2.7, 4.9, 1.8],
       [6.7, 3.3, 5.7, 2.1],
       [7.2, 3.2, 6. , 1.8],
       [6.2, 2.8, 4.8, 1.8],
       [6.1, 3. , 4.9, 1.8],
       [6.4, 2.8, 5.6, 2.1],
       [7.2, 3. , 5.8, 1.6],
       [7.4, 2.8, 6.1, 1.9],
       [7.9, 3.8, 6.4, 2. ],
       [6.4, 2.8, 5.6, 2.2],
       [6.3, 2.8, 5.1, 1.5],
       [6.1, 2.6, 5.6, 1.4],
       [7.7, 3. , 6.1, 2.3],
       [6.3, 3.4, 5.6, 2.4],
       [6.4, 3.1, 5.5, 1.8],
       [6. , 3. , 4.8, 1.8],
       [6.9, 3.1, 5.4, 2.1],
       [6.7, 3.1, 5.6, 2.4],
       [6.9, 3.1, 5.1, 2.3],
       [5.8, 2.7, 5.1, 1.9],
       [6.8, 3.2, 5.9, 2.3],
       [6.7, 3.3, 5.7, 2.5],
       [6.7, 3. , 5.2, 2.3],
       [6.3, 2.5, 5. , 1.9],
       [6.5, 3. , 5.2, 2. ],
       [6.2, 3.4, 5.4, 2.3],
       [5.9, 3. , 5.1, 1.8]])

In [9]:
iris_df=pd.DataFrame(data=df['data'],columns=df['feature_names'])

In [10]:
iris_df.sample(5)

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
111                6.4               2.7                5.3               1.9
4                  5.0               3.6                1.4               0.2
42                 4.4               3.2                1.3               0.2
86                 6.7               3.1                4.7               1.5
96                 5.7               2.9                4.2               1.3

In [11]:
iris_df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [12]:
iris_df.shape

(150, 4)

In [13]:
iris_df['iris_target']=df['target']

In [14]:
iris_df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),iris_target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [15]:
iris_df['iris_name']=iris_df['iris_target'].apply(lambda x: 'sentosa' if x == 0 else('versicolor' if x == 1 else 'virginica'))

In [16]:
iris_df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),iris_target,iris_name
0,5.1,3.5,1.4,0.2,0,sentosa
1,4.9,3.0,1.4,0.2,0,sentosa
2,4.7,3.2,1.3,0.2,0,sentosa
3,4.6,3.1,1.5,0.2,0,sentosa
4,5.0,3.6,1.4,0.2,0,sentosa

In [17]:
iris_df.sample(10)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),iris_target,iris_name
116,6.5,3.0,5.5,1.8,2,virginica
142,5.8,2.7,5.1,1.9,2,virginica
103,6.3,2.9,5.6,1.8,2,virginica
47,4.6,3.2,1.4,0.2,0,sentosa
79,5.7,2.6,3.5,1.0,1,versicolor
97,6.2,2.9,4.3,1.3,1,versicolor
92,5.8,2.6,4.0,1.2,1,versicolor
62,6.0,2.2,4.0,1.0,1,versicolor
45,4.8,3.0,1.4,0.3,0,sentosa
30,4.8,3.1,1.6,0.2,0,sentosa

In [18]:
iris_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  150 non-null    float64
 1   sepal width (cm)   150 non-null    float64
 2   petal length (cm)  150 non-null    float64
 3   petal width (cm)   150 non-null    float64
 4   iris_target        150 non-null    int32
 5   iris_name          150 non-null    object
dtypes: float64(4), int32(1), object(1)
memory usage: 6.6+ KB

In [19]:
iris_df.describe()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),iris_target
count,150.000000,150.000000,150.000000,150.000000,150.000000
mean,5.843333,3.057333,3.758000,1.199333,1.000000
std,0.828066,0.435866,1.765298,0.762238,0.819232
min,4.300000,2.000000,1.000000,0.100000,0.000000
25%,5.100000,2.800000,1.600000,0.300000,0.000000
50%,5.800000,3.000000,4.350000,1.300000,1.000000
75%,6.400000,3.300000,5.100000,1.800000,2.000000
max,7.900000,4.400000,6.900000,2.500000,2.000000

In [20]:
iris_df.groupby(['iris_name']).describe()

           sepal length (cm)                                              \
                       count   mean       std  min    25%  50%  75%  max
iris_name
sentosa                 50.0  5.006  0.352490  4.3  4.800  5.0  5.2  5.8
versicolor              50.0  5.936  0.516171  4.9  5.600  5.9  6.3  7.0
virginica               50.0  6.588  0.635880  4.9  6.225  6.5  6.9  7.9

           sepal width (cm)         ... petal width (cm)      iris_target  \
                      count   mean  ...              75%  max       count
iris_name                           ...
sentosa                50.0  3.428  ...              0.3  0.6        50.0
versicolor             50.0  2.770  ...              1.5  1.8        50.0
virginica              50.0  2.974  ...              2.3  2.5        50.0


           mean  std  min  25%  50%  75%  max
iris_name
sentosa     0.0  0.0  0.0  0.0  0.0  0.0  0.0
versicolor  1.0  0.0  1.0  1.0  1.0  1.0  1.0
virginica   2.0  0.0  2.0  2.0  2.0  2.0  2.0

[3 rows x 40 columns]

In [21]:
from sklearn.model_selection import train_test_split

In [22]:
x=iris_df.iloc[:,:4]

In [23]:
x.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [24]:
y=iris_df.iloc[:,-1]

In [25]:
y.head()

0    sentosa
1    sentosa
2    sentosa
3    sentosa
4    sentosa
Name: iris_name, dtype: object

In [27]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [28]:
from sklearn.linear_model import LogisticRegression

In [29]:
clf=LogisticRegression()

In [30]:
clf

LogisticRegression()

In [32]:
clf.fit(x_train,y_train)

C:\Users\HP\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [33]:
prediction=clf.predict(x_test)

In [36]:
prediction

array(['sentosa', 'versicolor', 'versicolor', 'sentosa', 'versicolor',
       'sentosa', 'versicolor', 'versicolor', 'versicolor', 'virginica',
       'virginica', 'sentosa', 'versicolor', 'versicolor', 'versicolor',
       'versicolor', 'sentosa', 'virginica', 'virginica', 'virginica',
       'sentosa', 'virginica', 'virginica', 'sentosa', 'virginica',
       'versicolor', 'virginica', 'versicolor', 'sentosa', 'sentosa'],
      dtype=object)

In [37]:
y_test

16        sentosa
88     versicolor
93     versicolor
24        sentosa
75     versicolor
35        sentosa
63     versicolor
98     versicolor
87     versicolor
120     virginica
147     virginica
15        sentosa
50     versicolor
82     versicolor
58     versicolor
89     versicolor
30        sentosa
130     virginica
146     virginica
101     virginica
49        sentosa
111     virginica
118     virginica
11        sentosa
122     virginica
79     versicolor
77     versicolor
68     versicolor
45        sentosa
25        sentosa
Name: iris_name, dtype: object

In [39]:
clf.predict_proba(x_test)

array([[9.86048347e-01, 1.39516201e-02, 3.29919492e-08],
       [3.81827609e-02, 9.06871395e-01, 5.49458439e-02],
       [1.70468886e-01, 8.25190013e-01, 4.34110110e-03],
       [9.48427651e-01, 5.15718206e-02, 5.28655364e-07],
       [8.20627627e-03, 8.84806764e-01, 1.06986960e-01],
       [9.83810654e-01, 1.61893197e-02, 2.59341325e-08],
       [4.82773443e-03, 7.44652058e-01, 2.50520207e-01],
       [3.11872145e-01, 6.86221722e-01, 1.90613288e-03],
       [5.10684185e-03, 8.76537449e-01, 1.18355709e-01],
       [1.21418027e-05, 2.66789842e-02, 9.73308874e-01],
       [2.53497033e-04, 1.56889784e-01, 8.42856719e-01],
       [9.83294884e-01, 1.67050670e-02, 4.94780497e-08],
       [3.42375898e-03, 8.21285498e-01, 1.75290743e-01],
       [3.85272746e-02, 9.35056421e-01, 2.64163043e-02],
       [4.60500509e-03, 8.56078886e-01, 1.39316109e-01],
       [3.12965828e-02, 9.15174405e-01, 5.35290126e-02],
       [9.63549718e-01, 3.64500925e-02, 1.89163965e-07],
       [2.35604524e-06, 2.83373731e-02, 9.71660271e-01],
       [4.33054079e-04, 2.41083430e-01, 7.58483516e-01],
       [4.79054833e-04, 1.78895874e-01, 8.20625072e-01],
       [9.77292413e-01, 2.27075271e-02, 5.95121226e-08],
       [1.43629363e-04, 1.38502542e-01, 8.61353828e-01],
       [1.04039815e-08, 1.21671536e-03, 9.98783274e-01],
       [9.72984366e-01, 2.70155091e-02, 1.24915498e-07],
       [8.44540323e-08, 5.03604193e-03, 9.94963874e-01],
       [9.06290500e-02, 9.03840089e-01, 5.53086129e-03],
       [9.49962925e-04, 4.35330436e-01, 5.63719601e-01],
       [3.38420312e-03, 7.50753615e-01, 2.45862182e-01],
       [9.73743648e-01, 2.62562428e-02, 1.09343160e-07],
       [9.52787045e-01, 4.72127188e-02, 2.36121695e-07]])

In [40]:
clf.score(x_test,y_test)

0.9666666666666667